################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.suo
*.user
*.sln.docstates
*.roslynuitest.cache

ComponentModelCache/
**/[Bb]in/
**/[Oo]bj/

*.tlog

*.nuget.props
*.nuget.targets
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
*.nupkg
**/[Pp]ackages/

**/[Pp]ublish/
*.pubxml
*.pubxml.user

TestResults/
*.trx
*.testlog

*.log
*.htmllog
*.svclog
BuildLog.*

_ReSharper*/
*.resharper
.idea/

Thumbs.db
ehthumbs.db
Desktop.ini

*~
*.tmp
*.bak
*.swp
